<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <style>

        body{
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            margin-top: 100px;
        }

        a{
            text-decoration: none;
            background-color: blue;
            color: white;
            padding: 15px 25px;
            border-radius: 5px;
            font-size: 20px;
        }

    </style>

</head>

<body>

    <h1>Student Management System</h1>

    <a href="/students">View Students</a>

</body>

</html>